{% extends 'launchpad/body_base.html' %}
{% block title %}Buy XTV - {{ block.super }}{% endblock title %}

{% load static %}
{% load crispy_forms_tags %}
{% load gravatar %}

{% block js-loads %}
    {{ block.super }}
    <script src="{% static 'launchpad/js/plugins/jquery-animate-numbers/jquery.animateNumbers.min.js' %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $('#id_usd_value').keypress(function (e){
                //if the letter is not digit then don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#id_usd_value').on('input propertychange paste', function (){
                var tokenCount = parseFloat($(this).val()) * 10;

                if(isNaN(tokenCount) || tokenCount < 1000){
                    tokenCount = 1000;
                    $('#minimum-message').show();
                } else {
                    $('#minimum-message').hide();
                }

                $('#token-receive-estimate').animateNumbers(tokenCount, true, 400);
            });

            $('#id-buyForm').submit(function () {
                $('#buy-submit-button').hide();
                $('#buy-loading-spinner').show();
            });
        });
    </script>
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                        {% include 'launchpad/nav_bar.html' with page_cat='orders' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <h4>Buy Tokens</h4>
                                        <div class="row mt-4">
                                            <div class="col-lg-12">
                                                {% crispy buy_form %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}