{% extends 'launchpad/body_base.html' %}
{% block title %}Investor Home - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'launchpad/img/brand/logo-centive-color.png' %}" border="0">
                        </div>
                        <div class="col-md-10 text-right">
                            <div class="d-inline-block mr-1">
                                <div class="font-weight-bold">{{ user.email }}</div>
                                <div class="font-weight-bold"><a href="{% url 'accounts:logout' %}">Logout</a></div>
                            </div>
                            <div class="d-inline">
                                <img src="{% gravatar_url user.email 55 %}">
                            </div>
                        </div>
                    </div>
                    <div class="user-pro-box mt-2 shadow-sm border">
                        <div class="topnav" id="top-nav">
                            <a href="{% url 'launchpad:home' %}" class="active">Home</a>
                            <a href="{% url 'launchpad:orders' %}">Orders</a>
                            <a href="{% url 'launchpad:transactions' %}">Transactions</a>
                            <a href="{% url 'launchpad:verification' %}">Verification</a>
                            <a href="javascript:void(0);" class="icon" onclick="dynamicTopNav()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-image: url('{% static 'launchpad/img/patterns/subtle-crisscross.jpg' %}');">
                                <div class="p-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center font-weight-light">Your balance</h4>
                                        </div>
                                    </div>
                                    <div class="row middle-box-flex mt-3">
                                        <div class="col-md-6">
                                            <div class="position-relative col-centered middle-box-flex">
                                                <div class="balance-circle bg-white shadow-sm"></div>
                                                <div class="position-absolute" style="width:100%;">
                                                    <h1 class="font-weight-bold text-center">
                                                        {% if token_holdings.token_value__sum %}
                                                            {{ token_holdings.token_value__sum.normalize|intcomma }}
                                                        {% else %}
                                                            0
                                                        {% endif %}
                                                    </h1>
                                                    <h4 class="font-weight-bold text-center">XTV</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <hr class="hr" />
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div>
                                                <a href="{% url 'launchpad:buy' %}"><button class="col-centered btn btn-alt btn-lg btn-encourage">Buy Tokens</button></a>
                                            </div>
                                            {% if pending_orders %}
                                                <div class="mt-3">
                                                    You have <a href="{% url 'launchpad:orders' %}"><b>{{ pending_orders|length }} pending order{{ pending_orders|length|pluralize:',s' }}</b></a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}