{% load static %}
{% load gravatar %}
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'launchpad:home' %}"><img src="{% static 'launchpad/img/brand/logo-centive-color.png' %}" border="0"></a>
    </div>
    <div class="col-md-10 text-right">
        <div class="d-inline-block mr-1">
            <div class="font-weight-bold">{{ user.email }}</div>
            <div class="font-weight-bold"><a href="{% url 'accounts:password-reset-prelim' %}">Change password</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'accounts:logout' %}">Logout</a></div>
        </div>
        <div class="d-inline">
            <img src="{% gravatar_url user.email 55 %}">
        </div>
    </div>
</div>
<div class="user-pro-box mt-2 shadow-sm border">
    {% if not show_nav or show_nav == 'True' %}
        <div class="topnav" id="top-nav">
            <a href="{% url 'launchpad:home' %}" {% if page_cat == 'home' %}class="active"{% endif %}>Home</a>
            <a href="{% url 'launchpad:orders' %}" {% if page_cat == 'orders' %}class="active"{% endif %}>Orders</a>
            <a href="{% url 'launchpad:transactions' %}" {% if page_cat == 'transactions' %}class="active"{% endif %}>Transactions</a>
            <a href="{% url 'launchpad:verification' %}" {% if page_cat == 'verification' %}class="active"{% endif %}>Verification</a>
            <a href="{% url 'launchpad:withdraw' %}" {% if page_cat == 'withdraw' %}class="active"{% endif %}>Withdraw</a>
            {% if user.is_staff %}
                <a href="{% url 'launchpad:stats' %}" {% if page_cat == 'stats' %}class="active"{% endif %}>Crowdsale Stats</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="dynamicTopNav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    {% endif %}