{% extends 'launchpad/body_base.html' %}
{% block title %}Orders - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'launchpad/img/brand/logo-centive-color.png' %}" border="0">
                        </div>
                        <div class="col-md-10 text-right">
                            <div class="d-inline-block mr-1">
                                <div class="font-weight-bold">{{ user.email }}</div>
                                <div class="font-weight-bold"><a href="{% url 'accounts:logout' %}">Logout</a></div>
                            </div>
                            <div class="d-inline">
                                <img src="{% gravatar_url user.email 55 %}">
                            </div>
                        </div>
                    </div>
                    <div class="user-pro-box mt-2 shadow-sm border">
                        <div class="topnav" id="top-nav">
                            <a href="{% url 'launchpad:home' %}">Home</a>
                            <a href="{% url 'launchpad:orders' %}" class="active">Orders</a>
                            <a href="{% url 'launchpad:transactions' %}">Transactions</a>
                            <a href="{% url 'launchpad:verification' %}">Verification</a>
                            <a href="javascript:void(0);" class="icon" onclick="dynamicTopNav()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <h4>Your Orders</h4>
                                        <div class="row mt-4">
                                            <div class="col-lg-12 pre-scrollable">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Date</th>
                                                            <th scope="col" class="text-right">Want to Buy</th>
                                                            <th scope="col" class="text-right">Total Price</th>
                                                            <th scope="col" class="text-right">Pay Using</th>
                                                            <th scope="col" class="text-center">Payment</th>
                                                            <th scope="col" class="text-right">Order Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for order in orders %}
                                                        <tr>
                                                            <td scope="row" class="text-nowrap">{{ order.created_at|date }}</td>
                                                            <td class="text-right text-nowrap">{{ order.token_value.normalize|intcomma }} XTV</td>
                                                            <td class="text-right text-nowrap">US${{ order.usd_value.normalize|intcomma }}</td>
                                                            <td class="text-right text-nowrap">{{ order.payment_currency_value.normalize|intcomma }} {{ order.payment_currency }}</td>
                                                            <td class="text-center text-nowrap"><i class="fa fa-question-circle"></i> <a href="{% url 'launchpad:payment' order_id=order.token_order_external_id %}">Instructions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-info-circle"></i> <a href="{{ order.status_url }}" target="_blank">Status</a></td>
                                                            <td class="text-right text-nowrap">
                                                                {% if order.payment_received and order.tokens_credited %}
                                                                    <div class="text-success">Order complete</div>
                                                                {% else %}
                                                                    <div class="text-danger">Pending</div>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <td colspan="6" class="text-center">You have not made any orders yet. <a href="{% url 'launchpad:buy' %}">Buy tokens now</a></td>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}