{% extends 'launchpad/body_base.html' %}
{% block title %}Payment - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'launchpad/img/brand/logo-centive-color.png' %}" border="0">
                        </div>
                        <div class="col-md-10 text-right">
                            <div class="d-inline-block mr-1">
                                <div class="font-weight-bold">{{ user.email }}</div>
                                <div class="font-weight-bold"><a href="{% url 'accounts:logout' %}">Logout</a></div>
                            </div>
                            <div class="d-inline">
                                <img src="{% gravatar_url user.email 55 %}">
                            </div>
                        </div>
                    </div>
                    <div class="user-pro-box mt-2 shadow-sm border">
                        <div class="topnav" id="top-nav">
                            <a href="{% url 'launchpad:home' %}">Home</a>
                            <a href="{% url 'launchpad:orders' %}" class="active">Orders</a>
                            <a href="{% url 'launchpad:transactions' %}">Transactions</a>
                            <a href="{% url 'launchpad:verification' %}">Verification</a>
                            <a href="javascript:void(0);" class="icon" onclick="dynamicTopNav()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <h4>Payment</h4>
                                        <div class="row mt-4">
                                            <div class="col-lg-9">
                                                <div class="mt-2">
                                                    <h5>You are buying <b>{{ token_order.token_value.normalize|intcomma }} XTV</b></h5>
                                                </div>
                                                <div class="mt-4 p-3 bg-light border">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <h5>Please send</h5>
                                                            <h4 class="text-danger"><b>{{ token_order.payment_currency_value.normalize }}</b> {{ token_order.payment_currency }}</h4>
                                                            <h5>to this address:</h5>
                                                            <h5 class="bg-success p-2 text-white text-monospace pre-scrollable">{{ token_order.payment_address }}</h5>
                                                            <h6>This address was generated only for you and this particular transaction. Upon payment, your account will be credited with {{ token_order.token_value.normalize|intcomma }} XTV after {{ token_order.confirms_needed }} blockchain confirmations.</h6>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <img src="{{ token_order.qrcode_url }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <a href="{{ token_order.status_url }}" target="_blank"><button class="btn btn-alt btn-encourage">Payment Status</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}