{% extends 'launchpad/body_base.html' %}
{% block title %}Stats - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block meta-tags %}
    {{ block.super }}
    <meta http-equiv="refresh" content="30; URL={% url 'launchpad:stats' %}">
{% endblock meta-tags %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                        {% include 'launchpad/nav_bar.html' with page_cat='stats' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <h3 class="al-center-sm">Orders</h3>
                                        <div class="row mt-4">
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">Total Orders</h5>
                                                <h1>{{ orders.total|intcomma }}</h1>
                                            </div>
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">Completed</h5>
                                                <h1>{{ orders.completed|intcomma }}</h1>
                                            </div>
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">Pending</h5>
                                                <h1>{{ orders.pending|intcomma }}</h1>
                                            </div>
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="text-danger font-weight-bold">Cancelled</h5>
                                                <h1 class="text-danger">{{ orders.cancelled|intcomma }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div>
                                        <h3 class="al-center-sm">Sales</h3>
                                        <div class="row mt-4">
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">Total Tokens</h5>
                                                <h1>{{ sales.tokens.normalize|intcomma }}</h1>
                                            </div>
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">US$</h5>
                                                <h1>{{ orders.stats.usd_value.normalize|intcomma }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div>
                                        <h3 class="al-center-sm">Users</h3>
                                        <div class="row mt-4">
                                            <div class="col-lg-3 rounded border bg-light text-center p-5 pt-2 pb-2">
                                                <h5 class="font-weight-bold">Total users</h5>
                                                <h1>{{ users.total }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}