{% extends 'launchpad/body_base.html' %}
{% block title %}Transactions - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'launchpad/img/brand/logo-centive-color.png' %}" border="0">
                        </div>
                        <div class="col-md-10 text-right">
                            <div class="d-inline-block mr-1">
                                <div class="font-weight-bold">{{ user.email }}</div>
                                <div class="font-weight-bold"><a href="{% url 'accounts:logout' %}">Logout</a></div>
                            </div>
                            <div class="d-inline">
                                <img src="{% gravatar_url user.email 55 %}">
                            </div>
                        </div>
                    </div>
                    <div class="user-pro-box mt-2 shadow-sm border">
                        <div class="topnav" id="top-nav">
                            <a href="{% url 'launchpad:home' %}">Home</a>
                            <a href="{% url 'launchpad:orders' %}">Orders</a>
                            <a href="{% url 'launchpad:transactions' %}" class="active">Transactions</a>
                            <a href="{% url 'launchpad:verification' %}">Verification</a>
                            <a href="javascript:void(0);" class="icon" onclick="dynamicTopNav()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <h4>Transactions</h4>
                                        <div class="row mt-4">
                                            <div class="col-lg-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Date</th>
                                                            <th scope="col" class="text-center">Type</th>
                                                            <th scope="col" class="text-right">No. of Tokens</th>
                                                            <th scope="col" class="text-right">Reference</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for transaction in transactions %}
                                                        <tr>
                                                            <td scope="row">{{ transaction.created_at|date }}</td>
                                                            <td class="text-center">{{ transaction.transaction_type }}</td>
                                                            <td class="text-right">{{ transaction.token_value.normalize|intcomma }} XTV</td>
                                                            <td class="text-right">
                                                                {% if transaction.txn_id and transaction.txn_id != '' %}
                                                                    <a href="https://etherscan.io/tx/{{ transaction.txn_id }}">Transaction ID</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <td colspan="4" class="text-center">No transactions are found in your account.</td>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}