{% extends 'launchpad/body_base.html' %}
{% block title %}Transactions - {{ block.super }}{% endblock title %}

{% load static %}
{% load gravatar %}
{% load humanize %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                        {% include 'launchpad/nav_bar.html' with page_cat='transactions' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div>
                                        <div>
                                            <h4>Transactions</h4>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-lg-12" style="overflow-x: auto;">
                                                {% if transactions %}
                                                    <div class="alert alert-success">You can withdraw your tokens to your own wallet upon completion of the ICO crowdsale.</div>
                                                {% endif %}
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Date</th>
                                                            <th scope="col" class="text-center">Type</th>
                                                            <th scope="col" class="text-right">No. of Tokens</th>
                                                            <th scope="col" class="text-right">Reference</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for transaction in transactions %}
                                                        <tr>
                                                            <td scope="row" class="text-nowrap">{{ transaction.created_at|date }}</td>
                                                            <td class="text-center text-nowrap">{{ transaction.transaction_type }}</td>
                                                            <td class="text-right text-nowrap">{{ transaction.token_value.normalize|intcomma }} XTV</td>
                                                            <td class="text-right text-nowrap">
                                                                {% if transaction.txn_id and transaction.txn_id != '' %}
                                                                    <a href="https://etherscan.io/tx/{{ transaction.txn_id }}">Transaction ID</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <td colspan="4" class="text-center">No transactions are found in your account.</td>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}