{% extends 'accounts/body_base.html' %}
{% block title %}Welcome - {{ block.super }}{% endblock title %}

{% load static %}

{% block js-loads %}
    {{ block.super }}
{% endblock js-loads %}

{% block body-content %}
    <div class="user-page d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="user-pro-box">
                       <div class="row">
                           <div class="col-md-8">
                               <div class="user-pro-form">
                                   <img src="{% static 'accounts/img/brand/logo-centive-color.png' %}" border="0" width="50%">
                                   <h4 class="section-title-md mt-5 mb-1">Please verify your email</h4>
                                   <p>We have sent you an email with the verification link. Please click on that link to continue setting up your account.</p>
                                   <p>And, welcome to Centive!</p>
                               </div>
                           </div>
                           <div class="col-md-4 text-center" style="background-image: url('{% static 'accounts/img/patterns/white-background-4.jpg' %}'); background-size: auto 100%;">

                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}